.button-and-map-container  {
    display: flex;
}
.mapi-nuppudude-hoidik {
    margin-bottom: 60px;
}
.map-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    font-size: larger;
    transition: background-color 0.3s ease-in-out
}
.map-button:hover {
    background-color: gray;    
    cursor: pointer;
}
.map {
    width: 1000px;
    height: 100%;
    box-shadow:cadetblue;
    border-radius: 3%;
}
.vordluselement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}
.vordluselemendi-pohisisu {
    width: 75%;
    height:auto;
    display: flex;
    justify-content: space-evenly;
}
.vorreldavl, .vorreldavr {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    
}
.nuppudl, .nuppudr {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 200px;
    overflow-y: scroll; 
}
.vordlusnuppud {
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightgray;
    color: black;
    font-size: larger;
    transition: background-color 0.3s ease-in-out
}   
.vordlusnuppud:hover {
    background-color: gray;
    cursor: pointer;
}
.teksti-hoidik {
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: rgb(151, 205, 207);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}