.button-container {
    display: inline-block; /* This makes the buttons appear next to each other */
    margin-bottom: 60px;
}

.button {
    padding: 10px 20px; /* Adjust the padding as needed */
    margin: 5px; /* Add margin to separate the buttons */
    background-color: #007bff; /* Button background color */
    color: #fff; /* Text color */
    border: none; /* Remove button border */
    border-radius: 5px; /* Add rounded corners */
}
h1 {
    margin-bottom: 60px;
}